//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 19 16:06:08 2018
//! **************************************************************************

SCHEMATIC START;
COMP "rst" LOCATE = SITE "M18" LEVEL 1;
COMP "parity_en" LOCATE = SITE "M13" LEVEL 1;
COMP "rx" LOCATE = SITE "C4" LEVEL 1;
COMP "tx" LOCATE = SITE "D4" LEVEL 1;
COMP "eight" LOCATE = SITE "R15" LEVEL 1;
COMP "ohel" LOCATE = SITE "L16" LEVEL 1;
COMP "led<0>" LOCATE = SITE "H17" LEVEL 1;
COMP "led<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "led<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "led<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "led<4>" LOCATE = SITE "R18" LEVEL 1;
COMP "led<5>" LOCATE = SITE "V17" LEVEL 1;
COMP "led<6>" LOCATE = SITE "U17" LEVEL 1;
COMP "led<7>" LOCATE = SITE "U16" LEVEL 1;
COMP "led<8>" LOCATE = SITE "V16" LEVEL 1;
COMP "led<9>" LOCATE = SITE "T15" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "led<14>" LOCATE = SITE "V12" LEVEL 1;
COMP "led<13>" LOCATE = SITE "V14" LEVEL 1;
COMP "led<12>" LOCATE = SITE "V15" LEVEL 1;
COMP "led<11>" LOCATE = SITE "T16" LEVEL 1;
COMP "led<10>" LOCATE = SITE "U14" LEVEL 1;
COMP "led<15>" LOCATE = SITE "V11" LEVEL 1;
COMP "baud<3>" LOCATE = SITE "R13" LEVEL 1;
COMP "baud<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "baud<2>" LOCATE = SITE "U18" LEVEL 1;
COMP "baud<0>" LOCATE = SITE "R17" LEVEL 1;
SCHEMATIC END;

