//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 01 14:16:17 2018
//! **************************************************************************

SCHEMATIC START;
COMP "rst" LOCATE = SITE "M18" LEVEL 1;
COMP "LED<12>" LOCATE = SITE "V15" LEVEL 1;
COMP "LED<11>" LOCATE = SITE "T16" LEVEL 1;
COMP "parity_en" LOCATE = SITE "M13" LEVEL 1;
COMP "LED<14>" LOCATE = SITE "V12" LEVEL 1;
COMP "LED<13>" LOCATE = SITE "V14" LEVEL 1;
COMP "LED<10>" LOCATE = SITE "U14" LEVEL 1;
COMP "LED<15>" LOCATE = SITE "V11" LEVEL 1;
COMP "tx" LOCATE = SITE "D4" LEVEL 1;
COMP "eight" LOCATE = SITE "R15" LEVEL 1;
COMP "odd_n_even" LOCATE = SITE "L16" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "H17" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "R18" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "V17" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "U17" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "U16" LEVEL 1;
COMP "baud<3>" LOCATE = SITE "R13" LEVEL 1;
COMP "LED<8>" LOCATE = SITE "V16" LEVEL 1;
COMP "LED<9>" LOCATE = SITE "T15" LEVEL 1;
COMP "baud<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "baud<2>" LOCATE = SITE "U18" LEVEL 1;
COMP "baud<0>" LOCATE = SITE "R17" LEVEL 1;
SCHEMATIC END;

